{% extends 'main.html' %}

{% block content %}
<br><br>
    <div class="container">
        <img style="height: 200px;width: auto;" src="{{project.image.url}}"><br>
        <strong>name &nbsp;</strong>&nbsp;&nbsp;{{project.name}}<br>
        <strong>category &nbsp;</strong>&nbsp;&nbsp;{{project.category}}<br>
        <strong>author &nbsp;</strong>&nbsp;&nbsp;{{project.author}}<br>
        <strong>country &nbsp;</strong>&nbsp;&nbsp;{{project.country}}<br>
        <strong>city &nbsp;</strong>&nbsp;&nbsp;{{project.city}}<br>
        <strong>description &nbsp;</strong>&nbsp;&nbsp;{{project.description}}<br>
    </div>
{% endblock content %}