{% extends 'main.html' %}

{% block content %}

<div class ="container" >
    <h1>Sightseeing Places</h1><br><br>
    <div style=" display: grid;grid-template-columns: repeat(3,1fr);">
        {%for proj in projects%}
        <div style="height:auto; width:450px; margin:20px; padding:20px; border:grey solid 1px;border-radius: 2px;">
            <img style="width: auto;height: 200px;" src='{{proj.image.url}}'/><br>   
            <p style="color:rgb(68, 67, 68)">{{proj.name}}</p>
                <a style="color:rgb(68, 67, 68)" href="{% url 'project-detail' slug=proj.slug %}">view</a><br>
            </div> 
        {%endfor%}
    </div>
</div>
    
{% endblock content %}